{% extends 'base.html' %}

{% block title %}
  Se connecter
{% endblock %}

{% block content %}
<h1>Connectez-vous</h1>
  <div class="content-register">
    
    <div class="block">
      <div class="column" >
      <form method="post">
        <div style="margin-bottom: 20px;"><input type="text" placeholder="Nom d'utilisateur" name="username" id="username" required></div>
        <div style="margin-bottom: 20px;"><input type="password" placeholder="Mot de passe" name="password" id="password"  required></div>
        <a href="{{ url_for('auth.reset')}}" class="small_link">Mot de passe oublié?</a>
        <div><input type="submit" value="Poursuivre" style="padding-right: 210px; padding-left: 210px;"></div>
      </form>
      </div>

      {% for message in get_flashed_messages() %}
        <div>{{ message }}</div>
      {% endfor %}
    </div>
  </div>                                   
{% endblock %}