{% extends 'base.html' %}

{% block title %}
  Se connecter
{% endblock %}

{% block content %}
  <div class="content-register">
    <div>
      <div class="column">
      <form method="post">
        <div class="item"><label for="username">Nom d'utilisateur</label></div>
        <div class="item"><input name="username" id="username" required></div>
        <div class="item"><label for="password">Mot de passe</label></div>
        <div class="item"><input type="password" name="password" id="password" required></div>
        <div class="item"><input type="submit" value="Se connecter"></div>
      </form>
      </div>

      {% for message in get_flashed_messages() %}
        <div>{{ message }}</div>
      {% endfor %}
    </div>
  </div>  
{% endblock %}