{% extends 'base.html' %}

{% block title %}
  Se connecter
{% endblock %}


{% block content %}    
<h1>Mot de passe oubliée?</h1>
  <div class="content-register">
    
    <div class="block">
        <div class="column">
            <h4 style="width: 475px; margin-top: -30px; margin-bottom: 50px;">Veuillez créer un nouveau mot de passe.</h4>
        <form method="post">
          <div style="margin-bottom: 20px;"><input type="password" placeholder="Nouveau mot de passe" name="password" id="password" required class="connection-textbox"></div>
          <div style="margin-bottom: 20px;"><input type="password" placeholder="Confirmer mot de passe" name="password" id="password" required class="connection-textbox"></div>
        <div ><a href="{{url_for('auth.password_reset')}}"><input type="submit" value="Confirmer" style="padding-right: 210px; padding-left: 210px;"></a></div>
        </form>
        </div>

        {% for message in get_flashed_messages() %}
        <div>{{ message }}</div>
        {% endfor %}
    </div>
  </div>                             
{% endblock %}