{% extends 'base.html' %}

{% block title %}
  S'enregistrer
{% endblock %}

{% block content %}
  <div class="content-register">
    <div>
      <form method="post">
        <label for="username">Nom d'utilisateur</label>
        <input name="username" id="username" required>
        <label for="password">Mot de passe</label>
        <input type="password" name="password" id="password" required>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required>
        <label for="name">Prénom</label>
        <input type="name" name="name" id="name" required>
        <label for="last_name">Nom</label>
        <input type="last_name" name="last_name" id="last_name">
        
        <input type="submit" value="S'enregistrer">
      </form>
    
      {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
      {% endfor %}
    </div>
  </div>
{% endblock %}