{% extends 'base.html' %}

{% block title %}
  Se connecter
{% endblock %}


{% block content %}    
<h1>Mot de passe oubliée?</h1>
  <div class="content-register">
    
    <div class="block">
        <div class="column">
            <h4 style="width: 500px; margin-top: -30px; margin-bottom: 50px;">Veuillez saisir votre adresse email afin de recevoir le lien de réinitialisation de votre mot de passe</h4>
        <form method="post">
        <div style="margin-bottom: 20px;"><input type="text" placeholder="email@exemple.com" name="email" id="email" required></div>
        <div ><a href="{{url_for('auth.reset_password)}}"><input type="button" value="Envoyer" style="padding-right: 220px; padding-left: 220px;"></a></div>
        </form>
        </div>

        {% for message in get_flashed_messages() %}
        <div>{{ message }}</div>
        {% endfor %}
    </div>
  </div>                             
{% endblock %}