{% extends 'base.html' %}

{% block title %}
Projets en progrès
{% endblock %}

{% block content %}
<div class="column">
{% if galleries %}
    {% for gallery in galleries %}
        <div class="row" style="margin-bottom: 50px;">
            {%if loop.first%}
            <div class="block row" style="width: 100%; margin-right: 10%; padding-top: 10px;">
            {%else%}
            <div class="block row" style="padding-top: 10px; width: 80%; margin-left: 0px;">
            {%endif%}
                <div class="column">
                    <h5 style="padding-left: 1%; ">{{gallery['name']}}</h5>
                    {%if loop.first%}
                    <div class="box-black-huge bbh-text" style="min-width: 100%;">
                    {%else%}
                    <div class="box-black-huge bbh-text" style="min-width: 45%;">
                    {%endif%}
                        {%if gallery['description'] | trim == '' or gallery['description'] is none %}
                        <h5 style="opacity: .5; margin-left: 0px;">Description</h5>
                        {%else%}
                        <h5 style="opacity: .5; margin-left: 0px;">{{gallery['description']}}</h5>
                        {%endif%}
                    </div>
                    <div class="column" style="margin-left: 10px;">
                        <div class="artist_pfp pp_container">
                        {% if user.profile_pic is none or user.profile_pic == '' %}
                            <img id="p-pic" src="{{ url_for('static', filename='imgs/profile-pic.webp') }}" alt="default profile pic">
                        {% else %}
                            <img id="p-pic" src="{{ url_for('static', filename=user.profile_pic) }}" alt="Profile Picture">
                        {% endif %}
                        </div>
                    <span>{{ g.user['username'] }}</span>
                    </div>
                    <button class="button" style="margin-left: 0%; padding: 1% 2%;">
                        Publier
                    </button>
                </div>
                    <h3 style="margin: auto; margin-right: 20%;"><a href="{{url_for('projects.project')}}" style="text-decoration: none; color: white;">Aucun projet n'a été déposé...</a></h3>
            </div>
            {%if loop.first%}
            <h2 style="float: right;">Mes projets actuels</h2>
            {%endif%}
        </div>
    {% endfor %}
{% else %}
    <div>
    <div class="row" style="margin-right: 10%;">
        <h3 style="width: 100%; padding-top: 100px;">Vous n'avez crée aucune galerie...</h3>
        <h2 style="float: right;">Mes projets actuels</h2>
    </div>
    </div>
{% endif %}
</div>
{% endblock %}