{% extends 'base.html' %}

{% block title %}
  Éditer mon profil
{% endblock %}

{% block content %}
    <div class="content-margin">
        <div>
            </div class="column">
                <h2>
                    Changer mon profil
                </h2>
                <div class="row" style="margin: 2%;">
                    {%if g.user['profile_pic'] is none%}
                    <input type="file" id="profile-pic">
                        <img class="profile-pic" src="/static/imgs/profile-pic.webp" alt="default profile pic">
                    </input>
                    {% else %}
                    <input type="file" id="profile-pic">
                        <span>{{g.user['profile_pic']}}</span>
                    </input>
                    {% endif %}
                    <div style="margin-left: 50px;">
                        <h3>
                            <span>{{ g.user['username'] }}</span>
                        </h3>
                        <a href="{{ url_for('auth.logout') }}" class="small_link">déconnexion</a>
                    </div>
                </div>
            </div>
            <div id="shape2" class="content-margin">
                <form method="post">
                    <div class="around">
                        {%if g.user['last_name'] | trim == '' or g.user['last_name'] is none %}
                        <textarea style="float: left;" name="last_name" id="last_name" rows="1" class="box-black" onkeypress="preventNewLine(event)"></textarea>
                        {% else %}
                        <textarea style="float: left;" name="last_name" id="last_name" rows="1" class="box-black" onkeypress="preventNewLine(event)">{{g.user['last_name']}}</textarea>
                        {% endif %}

                        {%if g.user['name'] | trim == '' or g.user['name'] is none %}
                        <textarea style="float: right;" name="name" id="name" rows="1" class="box-black" onkeypress="preventNewLine(event)"></textarea>
                        {% else %}
                        <textarea style="float: right;" name="name" id="name" rows="1" class="box-black" onkeypress="preventNewLine(event)">{{g.user['name']}}</textarea>
                        {% endif %}
                    </div>  
                    <div class="center column">
                        <div class="box-black-big" style="justify-content: flex-start;">{{g.user['email']}}</div>
                        {%if g.user['fav_style'] | trim == '' or g.user['fav_style'] is none %}
                        <textarea type="text" name="fav_style" id="fav_style" placeholder="style d'art préféré" maxlength="30" rows="1" class="box-black-big" onkeypress="preventNewLine(event)"></textarea>
                        {%else%}
                        <textarea type="text" name="fav_style" id="fav_style" placeholder="style d'art préféré" maxlength="30" rows="1" class="box-black-big" onkeypress="preventNewLine(event)">{{g.user['fav_style']}}</textarea>
                        {% endif %}

                        <div class="lineblk"></div>

                        {%if g.user['mini_desc'] | trim == '' or g.user['mini_desc'] is none %}
                        <textarea type="text" name="mini_desc" id="mini_desc" placeholder="moi en une phrase" maxlength="30" rows="1" class="box-black-big blk-bx-margin" onkeypress="preventNewLine(event)"></textarea>
                        {%else%}
                        <textarea type="text" name="mini_desc" id="mini_desc" placeholder="moi en une phrase" maxlength="30" rows="1" class="box-black-big blk-bx-margin" onkeypress="preventNewLine(event)">{{g.user['mini_desc']}}</textarea>
                        {% endif %}
                        
                        {%if g.user['desc'] | trim == '' or g.user['desc'] is none %}
                        <textarea type="text" name="desc" id="desc" placeholder="description" maxlength="400" rows="13" class="box-black-huge blk-bx-margin"></textarea>
                        {% else %}
                        <textarea type="text" name="desc" id="desc" placeholder="description" maxlength="400" rows="13" class="box-black-huge blk-bx-margin">{{g.user['desc']}}</textarea>
                        {% endif %}
                        <input type="submit" value="Sauvegarder" class="button"></input>
                        
                    </div>
                </form>
            </div>
        </div>
    </div>

<script>
    function preventNewLine(event) {
        if (event.key === "Enter" || event.keyCode === 13) {
            event.preventDefault();
        }
    }
</script>
{% endblock %}