{% extends 'base.html' %}

{% block title %}
  Profil
{% endblock %}

{% block content %}
  <div>
    <ul>
      <div class="content-profile-title">
        <div>
          <h2>Mon profil</h2>
          
        </div>
        <div class="user-info">
          <div class="column end">
            <h3 class="end">
              <span>{{ g.user['username'] }}</span>
            </h3>
            <ul>
              <a href="{{ url_for('user.edit_profile')}}" class="small_link">changer mon profil</a>
            </ul>
          </div>
          <div class="pp_container1">
            {% if user.profile_pic is none or user.profile_pic == '' %}
                <img src="{{ url_for('static', filename='imgs/profile-pic.webp') }}" alt="default profile pic">
            {% else %}
                <img src="{{ url_for('static', filename=user.profile_pic) }}" alt="Profile Picture">
            {% endif %}
          </div>
        </div> 
      </div>
      
      <div class="profile_proj">
        <div class="column">
          <h3>
            {%if g.user['mini_desc'] | trim == '' or g.user['mini_desc'] is none %}
            <p class="wide" >Petite phrase qui vous décrit.</p>
            {%else%}
            <p class="wide" >{{g.user['mini_desc']}}</p>
            {%endif%}
            <p>Les projets</p>
          </h3>
        {%for gallery in galleries%}
        {%if gallery.published == true%}
          <div style="margin-left: auto; margin-right: auto;">
            <div class="between">
              {{gallery['name']}}
              <div class="project"> 
              {%for artist in artists%}
                {%if artist.profile_pic%}
                  <a href="{{url_for('artists.user_profile', username=artist.username)}}">
                    <img class="profile-pic" src="{{ url_for('static', filename=artist.profile_pic) }}" alt="Profile Picture" style="height: 40px; width: 40px;">
                  </a>
                {% else %}
                  <a href="{{url_for('artists.user_profile', username=artist.username)}}">
                    <img class="profile-pic" src="/static/imgs/profile-pic.webp" alt="default profile pic" style="height: 40px; width: 40px;">
                  </a>
                  {% endif %}
                {%endfor%}
              </div>
            </div>
            <img  src="{{ url_for('static', filename=image.path_to_file)}}">
            {{gallery['deadline']}}
            </div>
            {%else%}
            {%endif%}
          </div>
        {%if loop.first%}
        <div id="shape1" style="padding: 20px;">
          <h5>
            <div style="line-height: 50px;">
              <span>{{g.user['name']}} {{g.user['last_name']}}</span>
              <p>{{g.user['email']}}</p>
            </div>
            <p>
              Style d'art préféré : 
              {%if g.user['fav_style'] | trim == '' or g.user['fav_style'] is none %}
              Aucun style spécifié...
              {%else%}
              {{g.user['fav_style']}}
              {%endif%}
            </p>
            <div class="lineblk"></div>
            {%if g.user['desc'] | trim == '' or g.user['desc'] is none %}
            <p>Aucune description...</p>
            {%else%}
            <span>{{g.user['desc']}}</span>
            {%endif%}
          </h5> 
        </div>
        {%else%}
        {%endif%}
      {%endfor%}
      </div>  
    </ul>
  </div>
{% endblock %}