{% extends 'base.html' %}

{% block title %}
  Artistes
{% endblock %}

{% block content %}
  <h2>Artistes</h2>
  <div class="column" style="margin-bottom: 50px;">
    {%if users%}
      {%for user in users%}
        {% if loop.index % 3 == 1 %}
        <div class="row around" style="margin-top: 50px;">
        {%endif%}
          <div class="column artist-work">
            <div class="row start">
              <img class="round artist_pfp" src="/static/imgs/profile-pic.webp" alt="default profile pic">
              <p style="margin-top: auto;">{{user['username']}}</p>
            </div>
            <img src="/static/imgs/ex.jpg">
          </div>
        {% if loop.index % 3 == 0 or loop.last %}
        </div>
        {% endif %}
      {% endfor %}
    {% endif %}
{% endblock %}