{% extends 'base.html' %}

{% block title %}
  Artistes
{% endblock %}

{% block content %}
  <h2>Artistes</h2>
  <div class="column" style="margin-bottom: 50px;">
    {%if users%}
      {%for user in users%}
        {% if loop.index % 3 == 1 %}
        <div class="row around" style="margin-top: 50px;">
        {%endif%}
          <div class="column artist-work">
            <div class="row start ">
              <div class="artist_pfp pp_container">
                {% if user.profile_pic is none or user.profile_pic == '' %}
                <img src="/static/imgs/profile-pic.webp" alt="default profile pic">
                {% else %}
                <img src="{{ url_for('static', filename=user.profile_pic) }}" alt="Profile Picture">
                {% endif %}
              </div>
              <p style="margin-top: auto;">{{user['username']}}</p>
            </div>
            <img src="/static/imgs/ex.jpg">
          </div>
        {% if loop.index % 3 == 0 or loop.last %}
        </div>
        {% endif %}
      {% endfor %}
    {% endif %}
{% endblock %}