<!doctype html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>
    <header id="header">
        <nav class="nav" id="header-nav">
            <div id="header-nav-img">
                <a href="{{url_for('home.landing_page')}}">
                    <img src="{{url_for('static', filename='imgs/logo.png')}}" alt="logo-unitearts"/>
                </a>
            </div>
            <ul id="header-nav-menu">
                    <li><a href="{{ url_for('artists.people') }}">artistes</a></li>
                    <li><a href="{{ url_for('gallery.artworks') }}">oeuvres</a></li>
                {% if g.user %}                
                    <li><a href="{{ url_for('create.createproject') }}">créer projet</a></li>
                    <li><a href="{{ url_for('projects.projects') }}">mes projets</a></li>   
                {% else %}
                    <li><a href="{{ url_for('auth.login') }}">créer projet</a></li>
                    <li><a href="{{ url_for('auth.register') }}">s'enregistrer</a>
                    <li><a href="{{ url_for('auth.login') }}">se connecter</a>
                {% endif %}
            </ul>
            {%if g.user %}
            <div class="pp_container1" style="width: 60px; height: 60px; margin-top: 20px;">
                {%if g.user['profile_pic'] is none%}
                    <a href="{{url_for('user.show_profile')}}">
                        <img class="profile-pic" src="/static/imgs/profile-pic.webp" alt="default profile pic">
                    </a>
                {% else %}
                    <a href="{{url_for('user.show_profile')}}">
                        <img class="profile-pic" src="{{ url_for('static', filename=g.user.profile_pic) }}" alt="Profile Picture">
                    </a>
                {% endif %}
            </div>
            {%else%}
            <div style="width: 60px; height: 60px; margin-top: 20px;"></div>
            {%endif%}
        </nav>
            <hr class="line">
    </header>
        
    <main id="main-content" class="content-margin">
        {% block content %}{% endblock %}
    </main>

</body>